.mainTitle {
    font-family: 'Mate SC';
    font-size: 3.5rem;
    font-weight: bold;
    text-align: center;
    color: #f39189;
    margin: 2rem 0;
}

@media (min-width: 900px) {
    .mainBody {
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }

    .gridItem {
        max-width: 36rem !important;
    }
}

.card {
    font-family: 'Zen Kaku Gothic Antique';
    font-size: 2rem;
    text-align: justify;
    border: solid 3px #ffdcb8;
    box-shadow: 0 0 10px 4px #ffdcb8;
    margin-top: 3rem;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
    padding: 1.5rem;
}

.cardTitle {
    font-family: 'Mate SC';
    font-size: 2rem;
    color: #bb8082;
    margin: 2rem 0;
}

.cardButton {
    background-color: #f39189;
    font-family: 'Lora';
    font-size: 1rem;
    font-weight: 500;
    font-style: italic;
    color: white;
    margin: 2rem 0;
}

.cardButton:hover,
.cardButton:active {
    background-color: white;
    border: 3px solid #f39189;
    color: #f39189;
}
